

/* Sidebar */

#sidebar {
font-size: 14px;
}
    
#sidebar a, a.active {
color: #808080;
text-decoration: none;
}

#sidebar p {
margin: 6px 0px 6px 0px;
}

#history_date {
color: #b3b3b3;
font-size: 11px;
}


/* Notelist */

#highlight {
/* Highlight result of search in Notelist and Text editor */
background-color: #fff8a5;
}

#filesize {
    color: #aaa;
    font-size: 10px;
    padding: 0px 0px 4px 0px;    
    }

#notelist_filter_field_empty {
    color: #bbb;
    font-size: 15px;
    background: white;
}

#notelist_filter_field_with_text {
    color: #1a1a1a;
    font-size: 16px;
    background: #fff8a5;
}

 #notelist {
	margin: 10px 0px 3px 0px;
    /*background: #eee;*/
 }
    
#notelist a, a.active {
    color: #1a1a1a;
    text-decoration: none;    
    }

#notelist_search_param_message {
	color: #aaa;
	/*font-size: 18px;*/
}

#notelist_empty_message {
	color: #666;
	font-size: 18px;
}
#notelist_empty_message small {
	color: #999;
	font-size: 15px;
}

#notelist_body {
    margin-top: 10px;
}

#notelist_header {
    /*margin-top: 20px;
    margin-left: 12px;*/
	color: #008066;
	font-size: 17px;
	font-weight: bold;
}

 #note_opened {
	margin: 10px 0px 3px 0px;
 }
 #note_other {
     margin: 10px 0px 3px 0px;
 }
#note_opened a, #note_opened a.active {
    color: #008066;
    text-decoration: none;
    /* font-weight: bold; */
    }


/*
#notelist li {
	margin: 0px 0px 0px 0px;
}

#notelist li {
	margin: 0px 0px 0px 0px;
}
*/


/* Text Editor */

html, body {
font-family: Sans;
font-size: 17px;
/* background: #eee; */
color: #1a1a1a;
white-space: pre-wrap;  /* Важнейшая штука - позволяет сохранять пробелы в html в том количестве, в котором они загружены из текстового файла. */
/*margin: 15px;*/
}

small {
font-size: 14px;
}

s {
color: #aaa;
}

a, a.active {
color: #004455;
text-decoration: none;
}

ul {
margin: 0px 0px;
padding: 0px 0px;
}

li {
margin: 6px 0px 6px -20px;
}

#hide {
	color: #aaa;
	font-size: 10px;
}

/*#border {
    background: #efefef;
    margin: 2px;
}*/


h1, #head1 {
	color: #005c4a; /*#008066;*/
	font-size: 29px;
	font-weight: bold;
    /*background: #efefef;*/
}

h2, #head2 {
	color: #006853; /*#008066;*/
	font-size: 26px;
	font-weight: bold;
    margin-left: 10px;
    /*padding: 5px;*/
    /*border: 1px solid #eee;*/
    /*background: #efefef;*/
}

h3, #head3 {
	color: #00745a; /*#008066;*/
	font-size: 23px;
	font-weight: bold;
    margin-left: 20px;
    /*padding: 10px;*/
    /*border: 1px solid #eee;*/
    /*background: #efefef;*/
}

h4, #head4 {
	color: #008061; /*#008066;*/
	font-size: 21px;
	font-weight: bold;
    margin-left: 30px;
    /*background: #efefef;*/
}

h5, #head5 {
	color: #008c70;
	font-size: 19px;
	font-weight: bold;
    margin-left: 40px;
    /*background: #efefef;*/
}

h6, #head6 {
	color: #00987e; /*#008066;*/
	font-size: 17px;
	font-weight: bold;
    margin-left: 50px;
    /*background: #efefef;*/
}


#created {
color: #aaa;
font-size: 13px;
}


#code {
	font-family: Mono;
	font-size: 17px; /* Менять размер и в Note.Format.editor_code_span */
	/*color: #501616;*/
	color: #9c2b2b;
}

#mark {
	/* color: #000; */
	color: #1a1a1a;
	background: #ffccaa;
	border: 1px solid #666;
}

/*
#founded_text_in_note {
	margin: 0px 0px 5px 15px;
	font-size: 11px;
	color: #b3b3b3;	
} */

/*
#founded_text_in_note p {
	margin: 0px 0px 5px 10px;
}
*/

#founded_text_in_note a, a.active {
	font-size: 13px;
	color: #333;
    text-decoration: none;    
    }



/* [Tag tag]
foreground=#ce5c00

[Tag pre]
foreground=#5a2a10
family=monospace
wrap-mode=none
indent=20


*/
